<header class="header">
	<div class="container">
		<div class="header__wrapper">
			<div class="header__logo">
				<a href="javascript:;">
					<img src="./img/header-logo.svg" alt="Logotype">
				</a>
			</div>
			<ul class="header__menu">
				<li class="header__item">
					<a href="javascript:;" class="header__link">
						Обзор
					</a>
				</li>
				<li class="header__item">
					<a href="javascript:;" class="header__link">
						Статистика
					</a>
				</li>
				<li class="header__item">
					<a href="javascript:;" class="header__link">
						Ссылки
					</a>
				</li>
				<li class="header__item">
					<a href="javascript:;" class="header__link">
						Интеграция
					</a>
				</li>
				<li class="header__item">
					<a href="javascript:;" class="header__link">
						Бренды
					</a>
				</li>
				<li class="header__item active">
					<a href="javascript:;" class="header__link">
						Поддержка
					</a>
				</li>
			</ul>
		</div>
	</div>
</header>